@font-face {
  font-family: 'IFKica';
  src: url('./fonts/IFKica-Bold.woff') format('woff');
}

@font-face {
  font-family: 'denistina';
  src: url('./fonts/denistina_en.ttf') format('truetype');
}


.adventure {
  text-align: center;
  padding: 20px;
  color: white;
  position: relative;
}

.under-text {
  color: #bd66ff;
  font-family: 'denistina', sans-serif;
  font-size: 50px;
  height: 10px;
  width: 300px;
  text-wrap: wrap;
  transform: rotate(-20deg);
  position: absolute;
  left: 550px;
  bottom: 70px;
}

.under-text1 {
  color: #bd66ff;
  font-family: 'denistina', sans-serif;
  font-size: 50px;
  height: 10px;
  width: 300px;
  text-wrap: wrap;
  transform: rotate(-20deg);
  position: absolute;
  left: 750px;
  bottom: 80px;
}

.adventure-highlight {
  font-family: 'IFKica', sans-serif;
  font-size: 100px;
  color: #000000;
  font-style: italic;
}

.highlight-club {
  color: #bd66ff;
  font-family: 'denistina', sans-serif;
  font-size: 100px;
  height: 10px;
  transform: rotate(-30deg);
  position: absolute;
  left: 350px;
  top: 50px;
}

.adventure-highlight-top {
  height: 80px;
  font-family: 'IFKica', sans-serif;
  font-size: 100px;
  color: #000000;
  font-style: italic;
  padding-right: 500px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.adventure-text {
  display: flex;
  align-items: center;
  font-family: Century Gothic;
  font-size: 30px;
  font-weight: 400;
  line-height: 36.78px;
  text-align: left;
  position: absolute;
  z-index: 10;
  background-color: white;
  bottom: -1.5px;
  left: -1.5px;
  border-radius: 0px 33px 0px 0px;
  width: 520px;
  height: 222px;
  color: #000000;
}

.adventure-img {
  filter: blur(1.3px) brightness(70%);
  width: 1292px;
  height: 612px;
  border-radius: 33px;
}

.buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.buttons-bot {
  position: absolute;
  top: 100px;
  right: 5px;
  display: flex;
  gap: 10px;
}

.buttons button {
  font-family: Century Gothic;
  font-size: 30px;
  line-height: 60px;
  width: 549px;
  height: 79px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid white;
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.buttons button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.googlemaps {
  color: white;
  text-decoration: none;
}
